/* Start global rules */
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
  --main-color :#2196f3;
  --main-color-alt :#1787e0;
  --transition-time : .3s;
  --section-padding : 100px;
  --section-background : #ececec;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Cairo", sans-serif;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title{
  margin: 0 auto 80px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  transition: var(--transition-time);
  z-index: 100;
}

.main-title:hover{
  color: white;
  border-color: transparent;
  transition-delay: calc(var(--transition-time) + .2s);
}

.main-title::before,
.main-title::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before{
  left: -30px;
}

.main-title:hover::before{
  z-index: -1;
  animation: left-move calc(var(--transition-time) + .2s) linear forwards;
}

.main-title::after{
  right: -30px;
}

.main-title:hover:after{
  z-index: -1;
  animation: right-move calc(var(--transition-time) + .2s) linear forwards;
}

.spikes{
  position: relative;
}

.spikes::after{
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* End global rules */

/* Start animation */
@keyframes up-down{
  0%, 100%{
    top: 0;
  }

  50%{
    top: -50px;
  }
}

@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
  }

  40%, 60%{
    transform: translateY(-20px);
  }
}

@keyframes left-move {
  50%{
    left: 0;
    width: 12px;
    height: 12px;
  }

  100%{
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes right-move {
  50%{
    right: 0;
    width: 12px;
    height: 12px;
  }

  100%{
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes moving-arrow {
  100%{
    transform: translatex(10px);
  }
  
}

@keyframes flashing {
  0%, 40%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {
  0%, 100%{
    background-image: url(../img/discount-background1.jpg);
  }
  
  50%{
    background-image: url(../img/discount-background2.jpg);
  }
}
/* End animation */

/* Start header */

.header{
  background-color: white;
  box-shadow: 0 0 3px #ddd;
  position: relative;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo{
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 40px;
  }
}

.header .main-nav{
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li:hover .mega-menu{
  z-index: 100;
  opacity: 1;
  top: calc(100% + 1px);
}

.header .main-nav > li > a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  font-size: 18px;
  transition: var(--transition-time);
  overflow: hidden;
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    height: 40px;
    font-size: 14px;
  }
}

.header .main-nav > li >  a:hover{
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  background-color: var(--main-color-alt);
  transition: var(--transition-time);
}

.header .main-nav > li > a:hover::before{
  left: 0;
}

/* Start mega menu */
.header .mega-menu{
  position: absolute;
  background-color: white;
  border-bottom: 4px solid var(--main-color);
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 40px;
  left: 0;
  top: calc(100% + 50px);
  z-index: -1;
  transition: top var(--transition-time), opacity var(--transition-time);
  opacity: 0;
}

@media (max-width : 767px){
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

.header .mega-menu .img img{
  max-width: 100%;
}

@media (max-width : 991px){
  .header .mega-menu .img{
    display: none;
  }
}

.header .mega-menu .links{
  min-width: 250px;
  flex: 1;
}

.header .mega-menu .links li{
  position: relative;
}

@media (max-width : 767px){
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

.header .mega-menu .links li:not(:last-child){
  border-bottom: 1px solid #e9e6e6;
}

.header .mega-menu .links li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: var(--transition-time);
  width: 0;
  background-color: #fafafa;
  z-index: -1;
}

.header .mega-menu .links li:hover::before{
  width: 100%;
}

.header .mega-menu .links li a{
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  transition: var(--transition-time);
}

.header .mega-menu .links li a:hover{
  color: var(--main-color-alt);
}

.header .mega-menu .links li i{
  margin-right: 10px;
}

/* End mega menu */



/* end header */

/* Start landing */
.landing{
  position: relative;
}

.landing::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
}

.landing .text{
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text{
    text-align: center;
  }
}

.landing .text h1{
  font-size: 40px;
  margin: 0;
  letter-spacing: -1px;
}

@media (max-width: 767px) {
  .landing .text h1{
    font-size: 28px;
  }
}

.landing .text p{
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #777;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text p{
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .text p{
    font-size: 18px;
  }
}

.landing .img img{
  position: relative;
  width: 600px;
  animation: up-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .img {
    display: none;
  }
}

.landing .go-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: var(--main-color);
  transition: var(--transition-time);
}

.landing .go-down:hover{
  color: var(--main-color-alt);
}

.landing .go-down i{
  animation: bouncing 1.5s  infinite;
  position: relative;
}
/* End landing */

/* Start articles */
.article{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.article .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 40px;
}

.article .container .card{
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  transition: transform var(--transition-time), box-shadow var(--transition-time);
}

.article .container .card:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.article .card img{
  width: 100%;
  max-width: 100%;
}

.article .card .content{
  padding: 20px;
}

.article .card h3{
  margin: 0;
}

.article .card  p{
  color: #777;
  line-height: 1.5;
}

.article .card .info{
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article .card .info a{
  color: var(--main-color);
  font-weight: bold;
}

.article .card .info a:hover{
  color: var(--main-color-alt);
}

.article .card:hover .info i{
  animation: moving-arrow .6s linear infinite;
}
/* Start articles */

/* Start gallery */
.gallery{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .card{
  background-color: white;
  padding: 15px;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 13%), 0 2px 4px 0 rgba(0, 0, 0, 12%);
}

.gallery .card .img{
  position: relative;
  overflow: hidden;
}

.gallery .card .img::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 30%);
  z-index: 2;
}

.gallery .card .img:hover::before{
  animation: flashing .7s;
}

.gallery .card img{
  width: 100%;
  max-width: 100%;
  transition: var(--transition-time);
}

.gallery .card .img:hover img{
  transform: rotate(5deg) scale(1.1);
}

/* End gallery */

/* Start features */
.features{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}

.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .card{
  border: 1px solid #ccc;
  transition: var(--transition-time);
}

.features .container .card .img{
  position: relative;
  overflow: hidden;
}

.features .container .card .img::before{
  content: "";
  position: absolute;
  top: -1;
  left: 0;
  width: 100%;
  height: 100%;
}

.features .container .card:nth-of-type(1) .img::before{
  background-color: rgb(244 64 54 / 60%);
}

.features .container .card:nth-of-type(2) .img::before{
  background-color: rgb(0 150 136 / 60%);
}

.features .container .card:nth-of-type(3) .img::before{
  background-color: rgb(3 169 244 / 60%);
}

.features .container .card .img::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--transition-time);
}

.features .container .card:hover .img::after{
  border-width: 170px 500px 170px 0;
}

.features .container .card .img img{
  width: 100%;
  max-width: 100%;
}

.features .container .card .content{
  text-align: center;
  padding: 25px;

}

.features .container .card .content h2{
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}

.features .container .card .content h2::before{
  content: "";
  position: absolute;
  border: 0;
  left: 15%;
  bottom: -20px;
  width: 70%;
  height: 4px;
}

.features .container .card:nth-of-type(1) .content h2::before{
  background-color: #f44036;
}

.features .container .card:nth-of-type(2) .content h2::before{
  background-color: rgb(0 150 136 / 60%);
}

.features .container .card:nth-of-type(3) .content h2::before{
  background-color: rgb(3 169 244 / 60%);
}

.features .container .card .content p{
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  color: #777;
  display: block;
  margin-top: 100px;
}

.features .container .card .content a{
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 5px;
  font-weight: bold;
  font-size: 23px;
  padding: 10px 30px;
  position: relative;
  border-radius: 6px;
  transition: var(--transition-time);
}


.features .container .card:nth-of-type(1) .content a{
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .card:nth-of-type(2) .content a{
  color: rgb(0, 150, 135);
  border-color: rgb(0, 150, 135);
  background: linear-gradient(to right, rgb(0, 150, 135) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .card:nth-of-type(3) .content a{
  color: rgb(3 169 244);
  border-color: rgb(3 169 244);
  background: linear-gradient(to right, rgb(3 169 244) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}


.features .container .card:hover .content a{
  background-position: left bottom;
  color: white;
}

/* End features */

/* start testimonial */
.testimonial{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.testimonial .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonial .container .card{
  background-color: white;
  position: relative;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.testimonial .container .card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
  position: absolute;
  right: -10px;
  top: -50px;
}

.testimonial .container .card h3{
  text-transform: uppercase;
  margin: 0 0 10px;
}

.testimonial .container .card .title{
  margin-bottom: 10px;
  display: block;
  color: #777;
}

.testimonial .container .card .rate .filled{
  color: #ffc107;
}

.testimonial .container .card p {
  color: #777;
  line-height: 1.5;
  margin: 10px 0 0;
}

/* End testimonial */

/* Start team members */
.team{
  padding: var(--section-padding) 0;
}

.team .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.team .container .card{
  position: relative;
}

.team .container .card::before,
.team .container .card::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f3f3f3;
  height: 100%;
  border-radius: 10px;
  transition: var(--transition-time);
}

.team .container .card::before{
  width: calc(100% - 60px);
  z-index: -2;
}

.team .container .card::after{
  width: 0;
  z-index: -1;
  background-color: #e4e4e4;
}

.team .container .card:hover::after{
  width: calc(100% - 60px);
}

.team .container .data{
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.team .container .data img{
  max-width: calc(100% - 60px);
  transition: var(--transition-time);
  transition-delay: calc(var(--transition-time) - (var(--transition-time) / 5));
  border-radius: 10px;
}

.team .container .card:hover .data img{
  filter: grayscale(100%);
}

.team .container .card .data .social{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.team .container .card .data .social a{
  width: 100%;
  color: #777;
  transition: var(--transition-time);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.team .container .card .data .social a:hover{
  color: var(--main-color);
}

.team .container .card .text{
  padding-left: 80px;
}

.team .container .card .text h3{
  color: var(--main-color);
  margin-bottom: 0;
  font-size: 22px;
  transition: var(--transition-time);
}

.team .container .card:hover .text h3{
  color: #777;
}

.team .container .card .text p{
  margin-top: 10px;
  margin-bottom: 25px;
}

.team .container .card:hover .text p{
  color: #777;
}
/* End team members */

/* Start services */
.services{
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;  
}

.services .container .card{
  background-color: white;
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--transition-time);
}

.services .container .card:hover{
  transform: translateY(-10px);
}

.services .container .card::before{
  content: "";
  position: absolute;
  top: -5px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 0;
  transition: var(--transition-time);
}

.services .container .card:hover::before{
  width: 100%;
}

.services .container .card i{
  color: #d5d5d5;
  margin: 30px auto;
  display: block;
  text-align: center;
}

.services .container .card h3{
  margin: 0 0 40px;
  font-size: 25px;
  text-align: center;
  color: var(--main-color);
}

.services .container .card .text{
  padding: 10px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}

.services .container .card .text::before{
  content: "0" counter(services);
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  color: white;
  height: 100%;
  width: 80px;
  top: 0;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}


.services .container .card .text::after{
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}

.services .container .card .text a{
  color: var(--main-color);
}
/* End services */

/* Start skills */
.skills{
  padding: var(--section-padding) 0;
}

.skills .container{
  display: flex;
  align-items: center;
}

.skills .container img{
  max-width: 100%;
}

@media (max-width : 991px){
  .skills .container img{
    display: none;
  }
}

.skills .container .progress{
  flex: 1;
}

.skills .container .progress .skill h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.skills .container .progress .skill h3 span{
  border: 1px solid #ccc;
  color: var(--main-color);
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 6px;
}

.skills .container .progress .skill .the-progress{
  height: 30px;
  width: 100%;
  background-color: #eee;
  position: relative;
}

.skills .container .progress .skill .the-progress span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s linear;
}
/* End skills */

/* Start work steps */
.work-steps{
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}

.work-steps .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

@media (max-width : 991px){
  .work-steps .container{
    flex-direction: column;
  }
}

.work-steps .container > img{
  max-width: 100%;
}

.work-steps .container .info .card{
  display: flex;
  align-items: center;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  padding: 30px;
  margin-bottom: 20px;
  gap: 20px;
}

@media (max-width : 767px){
  .work-steps .container .info .card{
    flex-direction: column;
    text-align: center;
  }
}

.work-steps .container .info .card::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  z-index: -1;
  transition: var(--transition-time);
}

.work-steps .container .info .card:hover::before{
  width: 100%;
  height: 100%;
}

.work-steps .container .info .card img{
  width: 64px;
}

.work-steps .container .info .card .text h3{
  margin: 0;
  font-size: 22px;
}

.work-steps .container .info .card .text p{
  line-height: 1.7;
  color: #777;
  margin: 10px 0 0;
  font-size: 18px;
}
/* End work steps */

/* Start latest event */
.events{
  padding: var(--section-padding) 0;
  position: relative;
}

.events::before,
.events::after{
  content: "";
  background: url(../img/dots.png) no-repeat;
  position: absolute;
  width: 204px;
  height: 186px;
  z-index: -1;
}

.events::before{
  right: 0;
  top: 200px;
}

@media (max-width : 1200px) {
  .events::before{
  display: none;
  }
}

.events::after{
  bottom: 200px;
  left: 0;
}

@media (max-width : 767px) {
  .events::before,
  .events::after{
  display: none;
  }
}

.events .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.events .container img{
  max-width: 450px;
}

@media (max-width : 991px){
  .events .container img{
    display: none;
  }
}

.events .container .info{
  flex: 1;
}

.events .container .info .time{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
}

.events .container .info .time .unit{
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  max-width: 75px;
  text-align: center;
  transition: var(--transition-time);
}

.events .container .info .time .unit:hover{
  border-color: var(--main-color);
}

.events .container .info .time .unit span:first-of-type{
  padding: 15px;
  font-size: 35px;
  color: var(--main-color);
  font-weight: bold;
}

.events .container .info .time .unit span:last-of-type{
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: var(--transition-time);
}

.events .container .info .time .unit:hover span:last-of-type{
  border-color: var(--main-color);
}

.events .container .info .title{
  font-size: 40px;
  margin: 40px 0 0;
  text-align: center;
}

.events .container .info p{
  line-height: 1.7;
  font-size: 19px;
  color: #777;            
  text-align: center;
}

.events .container .subscribe{
  width: 100%;
  margin-top: 50px;
}

.events .container .subscribe form{
  width: 600px;
  max-width: 100%;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f6f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}

@media (max-width : 767px) {
  .events .container .subscribe form{
    flex-direction: column;
    border-radius: 6px;
    padding: 20px;
  }
}

.events .container .subscribe form input{
  flex: 1;
  padding: 20px;
  border: none;
  border-radius: 50px;
  caret-color: var(--main-color);
}

@media (max-width : 767px){
  .events .container .subscribe form input{
    border-radius: 6px;
  }
}

.events .container .subscribe form input:focus{
  outline: none;
}

.events .container .subscribe form input::placeholder{
  transition: opacity var(--transition-time);
}

.events .container .subscribe form input:focus::placeholder{
  opacity: 0;
}

.events .container .subscribe form button{
  cursor: pointer;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-color);
  color: white;
  border: none;
  font-weight: bold;
  transition: var(--transition-time);
}

@media (max-width : 767px){
  .events .container .subscribe form button{
    border-radius: 6px;
  }
}

.events .container .subscribe form button:hover{
  background-color: var(--main-color-alt);
}
/* Start latest event */

/* Start pricing */
.pricing{
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
  position: relative;
}

.pricing::before,
.pricing::after{
  content: "";
  background: url(../img/dots.png) no-repeat;
  position: absolute;
  width: 204px;
  height: 186px;
}

.pricing::before{
  right: 0;
  top: 200px;
}

.pricing::after{
  bottom: 200px;
  left: 0;
}

@media (max-width : 767px) {
  .pricing::before,
  .pricing::after{
  display: none;
  }
}

.pricing .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .container .card{
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--transition-time);
  background-color: white;
  text-align: center;
  z-index: 5;
}

.pricing .container .card::before,
.pricing .container .card::after{
  content: "";
  position: absolute;
  height: 50%;
  width: 0;
  background-color: #f6f6f6;
  transition: var(--transition-time);
  z-index: -1;
}

.pricing .container .card::before{
  left: 0;
}

.pricing .container .card::after{
  bottom: 0;
  right: 0;
}

.pricing .container .card:hover::before,
.pricing .container .card:hover::after{
  width: 100%;
}

@media (min-width : 1200px) {
  .pricing .container .card.popular{
    transform: translateY(-15px);
  }
}

.pricing .container .card.popular .label{
  position: absolute;
  padding: 10px 10px 35px;
  background-color: var(--main-color);
  color: white;
  top: 0;
  right: 20px;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 18px;
}

.pricing .container .card.popular .label::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 20px;
}

.pricing .container .card .title{
  margin: 30px 0;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -1;
}

.pricing .container .card img{
  width: 80px;
  margin-bottom: 30px;
}

.pricing .container .card .price .amount{
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
  display: block;
}

.pricing .container .card .price .time{
  color: #777;
}

.pricing .container .card ul{
  margin: 20px 0;
  text-align: left;
}

.pricing .container .card ul li{
  padding: 20px;
  border-top: 1px solid #eee;
  position: relative;
  z-index: 3;
}

.pricing .container .card ul li::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transition: var(--transition-time);
}

.pricing .container .card ul li:hover::after{
  width: 100%;
}

.pricing .container .card ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: var(--main-color);
  font-weight: 900;
  margin-right: 10px;
}

.pricing .container .card a{
  margin: 30px auto 40px;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  display: block;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--transition-time);
}

.pricing .container .card a:hover{
  color: white;
  background-color: var(--main-color);
}
/* Start pricing */

/* Start videos */
.videos{
  padding: var(--section-padding) 0;
}

.videos .container{
  display: flex;
}

@media (max-width : 991px) {
  .videos .container{
    flex-direction: column;
  }
}

.videos .container .list{
  border: 1px solid var(--section-background);
  min-width: 300px;
}

.videos .container .list .title{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
}

.videos .container .list .title i{
  transition: var(--transition-time);
  cursor: pointer;
}

.videos .container .list .title i:hover{
  color: var(--main-color);
}

.videos .container .list li{
  padding: 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--transition-time);
}

.videos .container .list li:hover{
  background-color: #fafafa;
  color: var(--main-color);
}

.videos .container .list li span{
  display: block;
  color: #777;
  margin-top: 10px;
}

.videos .container .preview{
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.videos .container .preview img{
  max-width: 100%;
}

.videos .container .preview .info{
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
/* End videos */

/* Start Stats */
.stats{
  padding: var(--section-padding) 0;
  background: url(../img/stats.jpg);
  background-size: cover;
  z-index: 1;
  position: relative;
  min-height: 300px;
}

.stats::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(255 255 255 / 95%);
}

.stats .title{
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.stats .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .container .card{
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
}

.stats .container .card::before,
.stats .container .card::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: var(--transition-time);
}

.stats .container .card::before{
  bottom: 0;
  left: 0;
}

.stats .container .card::after{
  top: 0;
  right: 0;
}

.stats .container .card:hover::before,
.stats .container .card:hover::after{
  height: 100%;
}

.stats .container .card .number{
  display: block;
  margin: 10px 0;
  font-weight: bold;
  font-size: 50px;
}

.stats .container .card .text{
  color: var(--main-color);
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
/* End Stats */

/* Start Discount */
.discount{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.discount .image{
  flex-basis: 50%;
  background-image: url(../img/discount-background1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: change-background 10s linear infinite;
  position: relative;
  z-index: 1;
}

.discount .image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23, 135, 224, 97%);
  z-index: -1;
}

@media (max-width : 991px) {
  .discount .image{
    flex-basis: 100%;
  }
}

.discount .content{
  text-align: center;
  padding: 0 20px;
}

.discount .content h2{
  font-size: 40px;
  letter-spacing: -2;
}

.discount .content p{
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.discount .content img{
  width: 300px;
  max-width: 100%;
}

.discount .form{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width : 991px) {
  .discount .form{
    flex-basis: 100%;
  }
}

.discount .form .content .input{
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.discount .form .content textarea.input{
  resize: none;
  height: 200px;
}

.discount .form .content .input:focus::before{
  width: 100%;
}

.discount .form .content .input:focus{
  outline: none;
}

.discount .form .content [type= "submit"]{
  width: 100%;
  padding: 20px;
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: var(--transition-time);
}

.discount .form .content [type= "submit"]:hover{
  background-color: var(--main-color-alt);
}
/* End Discount */

/* Start Footer */
.footer{
  background-color: #191919;
  padding: 70px 0 0;
}

@media (max-width : 767px) {
  .footer{
  margin-top: 60px;
  }
}

.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

@media (max-width: 767px) {
  .footer .card:first-of-type{
    text-align: center;
  }
}

.footer .card h3{
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.footer .card .social a{
  color: #b9b9b9;
  background-color: #313131;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: var(--transition-time);
}

.footer .card .social a:hover:nth-of-type(1){
  background-color: #1877f2;
}

.footer .card .social a:hover:nth-of-type(2){
  background-color: #1da1f2;
}

.footer .card .social a:hover:nth-of-type(3){
  background-color: #ff0000;
}

.footer .card p{
  color: #b9b9b9;
  line-height: 2;
}

.footer .links li{
  padding: 15px 0;
  transition: var(--transition-time);
}

.footer .links li:hover{
  padding-left: 10px;
}

.footer .links li:not(:last-of-type){
  border-bottom: 1px solid #444;
}

.footer .links li a{
  color: #b9b9b9;
  transition: var(--transition-time);
}

.footer .links li:hover a{
  color: white;
}

.footer .links li a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .card .line{
  color: #b9b9b9;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer .card .line i{
  color: var(--main-color);
  font-size: 25px;
  margin-right: 15px;
}

.footer .card .line .info{
  line-height: 1.7;
}

@media (max-width: 767px) {
  .footer .footer-gallery{
    text-align: center;
  }
}

.footer .container .footer-gallery img{
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

.footer .copyright{
  color: white;
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid #444;
  margin-top: 50px;
}
/* End Footer */
